.media-list-container{
    width: var(--ui-width);
    overflow: auto!important;
    white-space: nowrap!important;
}

.media-list-element{
    display: inline-block;
    margin: 0.5em;
    white-space: normal!important;
}

.media-carousel-container{
    width: var(--ui-width);
}

.media-carousel-header{
    width: var(--ui-width);
}