
.sidebar {
    border: 2px solid transparent;
    border-left-color: var(--dark-blue);
    padding: 20px;
    justify-content: flex-start!important;
}

.sidebar > button {
    padding: 0.5em;
    margin: 0.5em;
    display: block;
    text-decoration: underline!important;
    color: var(--dark-blue)!important;
}
.sidebar > button:hover{
    background-color: var(--orange);
    transform: scale(1.1);
}
  
  .sidebar-nav-button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }